
# Ignore everything
*
!data/processed/*
!data/processed/uhoh/*
!data/processed/maizego/*
!data/derived/uhoh/*
!data/derived/maizego/unique_snp-mrna-pheno_genotypes.RDS
!data/derived/maizego/tst_pheno_tibble.RDS
!data/derived/maizego/snp_meta_info_datatable.RDS
!data/derived/maizego/mrna.RDS

!data/derived/predictor_subsets/*
!data/derived/prediction_runs/prediction_template.RDS

!data/processed/predictions/predictions.RDS

# Do not ignore files of the following kind...
!*.R
!*.r
!*.tex
!*.md
!*.sh
!*.Rmd
!*reports/single-step-hypred-report.html
!*tabs_figs/compound_plot.svg
!*data/processed

# ... even if they are in subdirectories
!*/

# However, ignore all files, which start with the following identifier: 
input_*
software*
tmp*


.Rproj.user
.Rproj

# ignore html files
*.html

###### GitBook
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
reports/node_modules

# Book build output
reports/_book

# GitBook cache
reports/_bookdown_files/ssHypred_Book_cache*

# eBook build output
*.epub
*.mobi
*.pdf
