# Ignore everything
*
/data

# Do not ignore files of the following kind...
!*.R
!*.r
!*.tex
!*.md
!*.sh
!*.Rmd

# ... even if they are in subdirectories
!*/

# However, ignore all files, which start with the following identifier: 
input_*


